body {
  margin-top: 32px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
}

.woocommerce {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  .product {
    display: flex;
  }
  .onsale {
    position: absolute;
  }
  &-tabs,
  .product_meta {
    display: none;
  }
  &-product-gallery {
    img {
      width: 100%;
      height: auto;
    }
  }
  .summary {
    .entry-title {
      position: relative;
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 48px;
      padding-bottom: 24px;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 80px;
        height: 3px;
        background: #cab1a1;
      }
    }
    .price {
      >del {
        font-size: 20px;
        color: #fe347f;
      }
      >ins {
        font-size: 30px;
        text-decoration: none;
        background: none;
      }
    }
  }
  @media (min-width: 992px) {
    &-product-gallery {
      width: 40%;
      padding-right: 64px;
    }
    .summary {
      width: 60%;
    }
  }
  table.variations {
    margin: 0;
    width: 200px;
    tr {
      display: flex;
      flex-direction: column;
    }
    select#color {
      padding-left: 16px;
      width: 100%;
      height: 40px;
      font-size: 16px;
    }
    .reset_variations {
      display: none;
    }
    td, th {
      padding: 0;
      border: none;
    }
    label {
      line-height: 40px;
      font-size: 18px;
    }
  }
  .single_variation_wrap {
    position: relative;
    padding: 32px 0;
    .woocommerce-variation-add-to-cart {
      margin-top: 16px;
      button {
        background: #cab1a1;
        color: #fff;
        text-transform: uppercase;
        border-radius: 0;
        min-width: 200px;
        &:hover {
          background: darken($color: #cab1a1, $amount: 20%);
        }
      }
    }
    .quantity {
      position: absolute;
      top: -40px;
      left: 224px;
      &:before {
        content: 'Quantity';
        position: absolute;
        top: -40px;
        line-height: 40px;
        font-size: 18px;
      }
      input {
        height: 40px;
      }
    }
  }
}
