header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

section.banner {
  display: flex;
  align-items: center;
  min-height: 300px;
}

section.detail {
  display: flex;
  padding: 96px 0;
}

@media (max-width: 768px) {
  section.detail {
    flex-direction: column;
  }
  section.detail .content {
    padding: 32px 0 !important;
  }
}

section.detail .figure {
  position: relative;
  flex-basis: 45%;
  height: 320px;
}

section.detail .figure .before, section.detail .figure .after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 0 center;
}

section.detail .figure .after {
  animation-name: reveal;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

section.detail .content {
  flex: 1;
  padding: 0 48px;
}

section.detail .content small {
  color: #cab1a1;
  font-weight: bold;
}

section.detail .content h3 {
  margin: 16px 0 32px;
  font-size: 28px;
}

section.detail .content p {
  font-size: 14px;
}

section.reason {
  display: flex;
  flex-wrap: wrap;
  padding: 96px 0;
  text-align: center;
}

section.reason h4 {
  flex-basis: 100%;
  font-size: 32px;
}

section.reason .reason-item {
  flex-basis: 100%;
  margin-top: 16px;
  padding: 0 8px;
  font-size: 13px;
}

@media (min-width: 768px) {
  section.reason .reason-item {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  section.reason .reason-item {
    flex-basis: calc(100% / 3);
  }
}

section.reason .reason-item h5 {
  font-size: 20px;
}

section.social {
  padding: 48px 0;
  text-align: center;
}

section.social img {
  width: 24px;
  height: 24px;
}

footer {
  padding: 96px 0;
  text-align: center;
  background: #000;
  color: #d8d8d8;
}

footer .logo {
  margin-bottom: 48px;
}

footer .copyright {
  font-size: 12px;
}

footer .partners img {
  width: 38px;
  height: 24px;
}

@keyframes reveal {
  from {
    right: 0;
  }
  50% {
    right: 100%;
  }
  to {
    right: 0;
  }
}

.woocommerce {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.woocommerce-tabs,
.woocommerce .product_meta {
  display: none;
}

.woocommerce .product {
  display: flex;
}

@media (max-width: 767px) {
  .woocommerce .product {
    flex-direction: column;
    text-align: center;
  }
  .woocommerce .product .summary .entry-title:before {
    left: calc(50% - 40px) !important;
  }
}

.woocommerce .product .onsale {
  display: none;
}

.woocommerce .product .woocommerce-product-gallery img {
  width: 100%;
  height: auto;
}

.woocommerce .product .summary {
  margin: 0;
  max-width: unset;
}

.woocommerce .product .summary .entry-title {
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 48px;
  padding-bottom: 24px;
}

.woocommerce .product .summary .entry-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 80px;
  height: 3px;
  background: #cab1a1;
}

.woocommerce .product .summary .price > del {
  font-size: 20px;
  color: #fe347f;
}

.woocommerce .product .summary .price > ins {
  font-size: 30px;
  text-decoration: none;
  background: none;
}

@media (min-width: 992px) {
  .woocommerce .product .woocommerce-product-gallery {
    width: 40%;
    padding-right: 64px;
  }
  .woocommerce .product .summary {
    width: 60%;
  }
}

.woocommerce table.variations {
  margin: 0;
  width: 160px;
}

@media (max-width: 767px) {
  .woocommerce table.variations {
    width: calc(100% - 130px - 24px);
  }
}

.woocommerce table.variations tr {
  display: flex;
  flex-direction: column;
}

.woocommerce table.variations td.value {
  position: relative;
}

.woocommerce table.variations td.value .fa-chevron-down {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  background: #fff;
  border: 1px solid #9b9b9b;
  font-size: 14px;
  pointer-events: none;
}

.woocommerce table.variations select#color {
  padding-left: 12px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}

.woocommerce table.variations .reset_variations {
  display: none !important;
}

.woocommerce table.variations td, .woocommerce table.variations th {
  padding: 0;
  border: none;
}

.woocommerce table.variations label {
  line-height: 40px;
  font-size: 18px;
}

.woocommerce .single_variation_wrap {
  position: relative;
  padding: 32px 0;
}

.woocommerce .single_variation_wrap .woocommerce-variation-add-to-cart {
  margin-top: 16px;
}

.woocommerce .single_variation_wrap .woocommerce-variation-add-to-cart button {
  background: #cab1a1;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  min-width: 200px;
}

.woocommerce .single_variation_wrap .woocommerce-variation-add-to-cart button:hover {
  background: #a57b60;
}

.woocommerce .single_variation_wrap .quantity {
  display: flex;
  align-items: center;
  position: absolute;
  top: -40px;
  left: 184px;
}

@media (max-width: 767px) {
  .woocommerce .single_variation_wrap .quantity {
    left: calc(100% - 130px);
  }
}

.woocommerce .single_variation_wrap .quantity .screen-reader-text {
  height: unset;
  width: unset;
  clip: unset;
  clip-path: unset;
  font-size: 18px;
  top: -32px;
}

.woocommerce .single_variation_wrap .quantity input {
  padding: 4px;
  width: 50px;
  height: 40px;
  text-align: center;
}

.woocommerce .single_variation_wrap .quantity input::-webkit-inner-spin-button, .woocommerce .single_variation_wrap .quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.woocommerce .single_variation_wrap .quantity .fa-minus, .woocommerce .single_variation_wrap .quantity .fa-plus {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #9b9b9b;
  cursor: pointer;
}
